# Compose Project Name and container suffix
_COMPOSE_PROJECT_NAME=share_traffic
_COMPOSE_PROJECT_STACK_ID=1

DEVICE_NAME=harley_0
SUPERVISOR_PROT=9002

# Proxy Server
PROXY=

# Your Adande username
ADNADE_USERNAME=harley
# For example: http://127.0.0.1:7890,http://127.0.0.1:7891,http://127.0.0.1:7892
ADNADE_PROXY_LIST=
# For example: admin:123,,xxx:yyy
ADNADE_PROXY_AUTH_LIST=

# Your Earnapp device id: ! must start with sdk-node-<md5sum>
# <md5sum> can be done this way : echo "your random string" | md5sum  (get the 32 char result)
# A few time after starting it successfully : register your node on earnapp dashboard : https://earnapp.com/r/<your device id>
EARNAPP_DEVICE_ID=

# Your EarnFM API Key
EARNFM_TOKEN=

# FIREFOX Web Listening Port
# FIREFOX_PROT=

# Your Gaganode token
GAGANODE_TOKEN=

# Your Grass email and password
GRASS_USER=
GRASS_PASS=

# Your Honeygain account email & password
HONEYGAIN_EMAIL=
HONEYGAIN_PASSWD=

# Your IproyalPawns account email and password
IPROYALPAWNS_EMAIL=
IPROYALPAWNS_PASSWD=

MESON_TOKEN=
MESON_PORT=

# Your mysterium api key
MYSTNODE_API_KEY=

# Your packetstream CID (to retrieve in your packetstream dashboard : Section : download -> Looking for linux app -> docker command : -e CID=xxxx)
PACKETSTREAM_CID=

# Your Peer2profit account email
# PEER2PROFIT_EMAIL=
# PEER2PROFIT_ID=

# Your Proxylite USER ID (to retrieve in your proxylite dashboard)
PROXYLITE_USER_ID=

# Your Proxyrack API KEY (to retrieve in your proxyrack dashboard -> profile (use generate if not existing))
# cat /dev/urandom | LC_ALL=C tr -dc 'A-F0-9' | dd bs=1 count=64 2>/dev/null && echo
PROXYRACK_UUID=

# Your Repocket account email
# Your Repocket API KEY (to retrieve in your repocket dashboard)
REPOCKET_EMAIL=
REPOCKET_API_KEY=

# Your Authentication Code
SPEEDSHARE_TOKEN=

# Your traffmonetizer token (to retrieve in your traffmonetizer dashboard : Section : dashboard -> Your application token
TRAFFMONETIZER_TOKEN=
