#device name
DEVICE_NAME=

#adnade username
ADNADE_USERNAME=

# For example: http://127.0.0.1:7890,http://127.0.0.1:7891,http://127.0.0.1:7892
PROXY_LIST=
# For example: admin:123,,xxx:yyy
PROXY_AUTH_LIST=
